An_image_is_worth_16x16_words/data/FashionMNIST/raw/t10k-images-idx3-ubyte
An_image_is_worth_16x16_words/data/FashionMNIST/raw/train-labels-idx1-ubyte
An_image_is_worth_16x16_words/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
An_image_is_worth_16x16_words/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
An_image_is_worth_16x16_words/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
An_image_is_worth_16x16_words/data/FashionMNIST/raw/train-images-idx3-ubyte
An_image_is_worth_16x16_words/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
An_image_is_worth_16x16_words/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
An_image_is_worth_16x16_words/__pycache__/utils.cpython-310.pyc
An_image_is_worth_16x16_words/data/MNIST/raw/t10k-images-idx3-ubyte
An_image_is_worth_16x16_words/data/MNIST/raw/t10k-images-idx3-ubyte.gz
An_image_is_worth_16x16_words/data/MNIST/raw/t10k-labels-idx1-ubyte
An_image_is_worth_16x16_words/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
An_image_is_worth_16x16_words/data/MNIST/raw/train-images-idx3-ubyte
An_image_is_worth_16x16_words/data/MNIST/raw/train-images-idx3-ubyte.gz
An_image_is_worth_16x16_words/data/MNIST/raw/train-labels-idx1-ubyte
An_image_is_worth_16x16_words/data/MNIST/raw/train-labels-idx1-ubyte.gz
